.about-modulo {
  width: 100vw;
  height: 275vh;
  padding: 0;
  margin: 0;
  overflow: hidden;

  & .descricao-geral {
    width: 100%;
    height: auto;
    position: relative;

    & .foto-about, .foto-about-transparente {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center 0 ;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
    }

    & .foto-about {
      background-image: url(../../assets/Fotos/foto-about.jpg);
      z-index: -1;
    }

    & .foto-about-transparente {
      background-image: url(../../assets/Fotos/foto-about-transparente.png);
      z-index: 1;
    }

    & .titulo-about-container {
      width: 40%;
      height: 20%;
      z-index: 0;
      color: #fff;

      & p {
        font-size: max(50px, 12vw);
        margin: 0;
        padding: 0;
        text-align: right;
        margin-block-start: -0.415em;
      }

      & .linea {
        border-top: 7px solid white;
        padding: 0;
        height: 50px;
      }
    }

    & .texto-descricao-about {
      color: #fff;
      position: absolute;
      top: 70%;
      left: 5%;
      width: 35%;
      height: auto;
      display: inline-block;
      z-index: 2;

      & p {
        line-height: 22px;
      }

      & .introducao-about {
        font-size: 25px;
      }

      & .desenvolvimento-about {
        font-size: 16px;
      }
    }

    & .galeria-container {
      position: absolute;
      bottom: -19%;
      left: 0;
      width: calc(100% - 8px);
      height: 19%;
      background: rgb(15, 15, 15);
      z-index: 2;

      & .foto {
        height: 90%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        & .capa-foto {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          transition: 0.3s;

          &:hover {
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }

  & .competencias-about {
    background-image: url(../../assets/Fotos/programacao.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
}

.titulo-about-fixed {
  display: block;
  position: fixed;
  top: 22vh;
  left: calc(52% + 8px);
}

.titulo-about-absolute {
  display: block;
  position: absolute;
  top: 22vh;
  left: 52%;
}

.titulo-about-esconder {
  display: none;
}
