<div #aboutModulo class="about-modulo" fxLayout="column" fxLayoutAlign=" none">
  <section #descricaoSection class="descricao-geral">
    <div class="foto-about"></div>
    <div class="foto-about-transparente"></div>
    <div class="titulo-about-container" [ngClass]="classeTituloAbout">
      <p class="título-about">ABOUT</p>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex class="linea"></div>
        <p>ME</p>
      </div>
    </div>
    <div class="texto-descricao-about" id="texto-about-container">
      <p class="introducao-about">
        Mi nombre es <b>Danilo Pezo</b>, desarrollador Front-End apasionado por
        la programación y las tecnologías web. Cuento con experiencia en soporte
        técnico TI y en desarrollo web con proyectos propios.
      </p>
      <p class="desenvolvimento-about">
        Actualmente, resido en Londrina, Brasil y curso estudios en Análisis y
        Desarrollo de Sistemas. Estoy en camino de convertirme en un
        desarrollador Full-Stack.
      </p>
      <p class="desenvolvimento-about">
        Desde temprana edad mis aficiones fueron el arte del dibujo que me ayudó
        a estimular mi lado imaginativo, así como también las disciplinas Lógica
        y Matemática que ahora me asisten al programar.
      </p>
    </div>
    <div
      #galeriaFotos
      class="galeria-container"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="5px"
    >
      <div
        class="foto"
        *ngFor="let foto of fotosGaleria"
        [ngStyle]="{
          'background-image':
            'url(../../../../assets/Fotos/foto-' + foto + '-galeria.jpg)'
        }"
        fxFlex
      >
        <div class="capa-foto"></div>
      </div>
    </div>
  </section>

  <section
    #grupoCompetenciasContainer
    class="competencias-about"
    fxLayout="row"
    fxLayoutAlign="start none"
  >
    <div #grupoSkills class="grupo-componente" fxFlex="50">
      <app-grupo-competencias
        [alturaDescricaoSection]="alturaDescricaoSection"
        [alturaGaleriaFotos]="alturaGaleriaFotos"
        [nomeGrupoCompetencia]="
          encontrarValorCompetenciaEmFuncaoDoIdioma(
            nomesGruposCompetencias[0],
            idioma | async,
            'nome',
            nomesGruposCompetencias[0].nome
          ) | uppercase
        "
        [listaCompetencias]="competenciasSkills"
      ></app-grupo-competencias>
    </div>
    <div class="grupo-componente" fxFlex="50">
      <div class="experiencia-componente">
        <app-grupo-competencias
          [alturaDescricaoSection]="alturaDescricaoSection"
          [alturaGaleriaFotos]="alturaGaleriaFotos"
          [nomeGrupoCompetencia]="
            encontrarValorCompetenciaEmFuncaoDoIdioma(
              nomesGruposCompetencias[1],
              idioma | async,
              'nome',
              nomesGruposCompetencias[0].nome
            ) | uppercase
          "
          [listaCompetencias]="competenciasExperiencia"
        ></app-grupo-competencias>
      </div>
      <div class="formacao-componente">
        <app-grupo-competencias
          [alturaDescricaoSection]="alturaDescricaoSection"
          [alturaGaleriaFotos]="alturaGaleriaFotos"
          [nomeGrupoCompetencia]="
            encontrarValorCompetenciaEmFuncaoDoIdioma(
              nomesGruposCompetencias[2],
              idioma | async,
              'nome',
              nomesGruposCompetencias[0].nome
            ) | uppercase
          "
          [listaCompetencias]="competenciasFormacao"
        ></app-grupo-competencias>
      </div>
    </div>
  </section>
  <section #scrollHorizontal class="pagina-em-branco"></section>
</div>
