.about-modulo {
  width: 100vw;
  height: 370vh;
  padding: 0;
  margin: 0;
  position: relative;

  & .descricao-geral {
    width: 100%;
    height: 165vh;
    position: relative;

    & .foto-about,
    .foto-about-transparente {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: right 0;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
      object-position: left;
    }

    & .foto-about {
      background-image: url(../../assets/Fotos/foto-about.jpg);
      z-index: -1;
    }

    & .foto-about-transparente {
      background-image: url(../../assets/Fotos/foto-about-transparente.png);
      z-index: 1;
    }

    & .titulo-about-container {
      width: 20vw;
      height: 20vh;
      z-index: 0;
      color: #fff;
      text-align: right;

      & span {
        font-size: max(50px, 12vw);
        margin: 0;
        padding: 0;
        margin-block-start: -0.415em;
      }

      & .linea {
        border-top: 7px solid white;
        padding: 0;
        height: 50px;
      }
    }

    & .galeria-container {
      position: absolute;
      bottom: -19%;
      left: 0;
      width: calc(100% - 8px);
      height: 19%;
      background: rgb(15, 15, 15);
      z-index: 2;

      & .foto {
        height: 90%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        & .capa-foto {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          transition: 0.3s;

          &:hover {
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }

  & .competencias-about {
    width: 200vw;
    height: 105vh;
    background-color: #fdf6f0;
    z-index: 1;
    position: sticky;
    top: 0;
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out;

    & .grupo-componente {
      width: 100%;
      height: 100%;
      position: relative;
      will-change: transform;
    }

    .experiencia-componente {
      width: 100%;
      display: inline-block;
      height: 30%;
      position: relative;
    }

    .formacao-componente {
      width: 100%;
      display: inline-block;
      height: auto;
      position: relative;
    }

    & .grupo-componente-container {
      width: 100%;
      height: 100%;
    }

    & .divisao-competencias {
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 100%;
      will-change: transform;

      & .redes-sociais-container {
        width: 25%;
        height: 100%;
        background-color: #fbbc58;
      }
    }
  }
}

.titulo-about-fixed {
  display: block;
  position: fixed;
  top: 12vh;
  left: calc(55% + 4px);
}

.titulo-about-absolute {
  display: block;
  position: absolute;
  top: 12vh;
  left: 55%;
}

.titulo-about-esconder {
  display: none;
}

.pagina-em-branco {
  width: 100%;
  background-color: #fdf6f0;
  height: 100vh;
}
