<div class="about-modulo" fxLayout="column" fxLayoutAlign=" none">
  <section #descricaoSection class="descricao-geral" fxFlex="60">
    <div class="foto-about"></div>
    <div class="foto-about-transparente"></div>
    <div class="titulo-about-container" [ngClass]="classeTituloAbout">
      <p class="título-about">ABOUT</p>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex class="linea"></div>
        <p>ME</p>
      </div>
    </div>
    <div class="texto-descricao-about" id="texto-about-container">
      <p class="introducao-about">
        Mi nombre es <b>Danilo Pezo</b>, desarrollador Front-End apasionado por
        la programación y las tecnologías web. Cuento con experiencia en soporte
        técnico TI y en desarrollo web con proyectos propios.
      </p>
      <p class="desenvolvimento-about">
        Actualmente, resido en Londrina, Brasil y curso estudios en Análisis y
        Desarrollo de Sistemas. Estoy en camino de convertirme en un
        desarrollador Full-Stack.
      </p>
      <p class="desenvolvimento-about">
        Desde temprana edad mis aficiones fueron el arte del dibujo que me ayudó
        a estimular mi lado imaginativo, así como también las disciplinas Lógica
        y Matemática que ahora me asisten al programar.
      </p>
    </div>
    <div
      #galeriaFotos
      class="galeria-container"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="5px"
    >
      <div
        class="foto"
        *ngFor="let foto of fotosGaleria"
        [ngStyle]="{
          'background-image':
            'url(../../../../assets/Fotos/foto-' + foto + '-galeria.jpg)'
        }"
        fxFlex
      >
        <div class="capa-foto"></div>
      </div>
    </div>
  </section>
  <section fxFlex class="competencias-about">
    <div #competenciasContainer class="competencias-container">
      <div class="grupo-competencia" fxLayout="column">
        <div class="nome-grupo-competencia-container">
          <div class="nome-container">
            <p>SKILLS</p>
            <div #sublinhadoSkills class="sublinhado-skills"></div>
          </div>
        </div>
        <div class="lista-competencias-container" fxLayout="row">
          <div fxFlex="30"></div>
          <div class="lista-competencias" fxFlex>
            <div
              class="competencia"
              *ngFor="let grupoCompetencia of competenciasWrapper"
              (click)="abrirGrupoCompetencia(grupoCompetencia.nome)"
            >
              <div
                class="nome-competencia-container"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <div
                  fxLayout="row"
                  fxLayoutAlign="start center"
                  fxLayoutGap="20%"
                  fxFlex="90"
                >
                  <p class="numero-competencia">
                    0{{ competenciasWrapper.indexOf(grupoCompetencia) + 1 }}
                  </p>
                  <p class="nome-grupo-competencia">
                    {{
                      encontrarValorCompetenciaEmFuncaoDoIdioma(
                        grupoCompetencia,
                        idioma | async,
                        "nome",
                        grupoCompetencia.nome
                      )
                    }}
                  </p>
                </div>
                <div class="seta-container" fxFlex>
                  <mat-icon class="seta">arrow_forward</mat-icon>
                </div>
              </div>

              <div
                *ngIf="grupoCompetenciaAberta === grupoCompetencia.nome"
                class="descricao-competencia-container"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <div
                  fxLayout="row"
                  fxLayoutAlign="start center"
                  fxLayoutGap="20%"
                  fxFlex="90"
                >
                  <p class="numero-competencia-escondido">00</p>
                  <p class="descricao-competencia">
                    <span>{{
                      encontrarValorCompetenciaEmFuncaoDoIdioma(
                        grupoCompetencia,
                        idioma | async,
                        "descricao",
                        grupoCompetencia.descricao
                      )
                    }}</span>
                  </p>
                </div>
                <div fxFlex></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
