<div #aboutModulo class="about-modulo" fxLayout="column" fxLayoutAlign=" none">
  <section #descricaoSection class="descricao-geral">
    <div class="foto-about"></div>
    <div class="foto-about-transparente"></div>
    <div class="titulo-about-container" [ngClass]="classeTituloAbout">
      <span *ngIf="(idioma | async) === 'ingles'">ABOUT</span>
      <span
        *ngIf="
          (idioma | async) === 'espanhol' || (idioma | async) === 'portugues'
        "
        >SOBRE</span
      >
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="palavra-mim-container"
      >
        <div fxFlex class="linea"></div>
        <span fxFlex="0.01" *ngIf="(idioma | async) === 'ingles'">ME</span>
        <span fxFlex="0.01" *ngIf="(idioma | async) === 'espanhol'">MÍ</span>
        <span fxFlex="0.01" *ngIf="(idioma | async) === 'portugues'">MIM</span>
      </div>
    </div>
    <app-sobre-mim></app-sobre-mim>
    <div
      #galeriaFotos
      class="galeria-container"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="5px"
    >
      <div
        class="foto"
        *ngFor="let foto of fotosGaleria"
        [ngStyle]="{
          'background-image':
            'url(../../../../assets/Fotos/foto-' + foto + '-galeria.jpg)'
        }"
        fxFlex
      >
        <div class="capa-foto"></div>
      </div>
    </div>
  </section>

  <section
    #grupoCompetenciasContainer
    class="competencias-about"
    fxLayout="row"
    fxLayoutAlign="start none"
  >
    <div #grupoSkills class="grupo-componente" fxFlex="50">
      <app-grupo-competencias
        [alturaDescricaoSection]="alturaDescricaoSection"
        [alturaGaleriaFotos]="alturaGaleriaFotos"
        [nomeGrupoCompetencia]="
          encontrarValorCompetenciaEmFuncaoDoIdioma(
            nomesGruposCompetencias[0],
            idioma | async,
            'nome',
            nomesGruposCompetencias[0].nome
          ) | uppercase
        "
        [listaCompetencias]="competenciasSkills"
      ></app-grupo-competencias>
    </div>
    <div class="grupo-componente" fxFlex="50">
      <div class="experiencia-componente">
        <app-grupo-competencias
          [alturaDescricaoSection]="alturaDescricaoSection"
          [alturaGaleriaFotos]="alturaGaleriaFotos"
          [nomeGrupoCompetencia]="
            encontrarValorCompetenciaEmFuncaoDoIdioma(
              nomesGruposCompetencias[1],
              idioma | async,
              'nome',
              nomesGruposCompetencias[0].nome
            ) | uppercase
          "
          [listaCompetencias]="competenciasExperiencia"
        ></app-grupo-competencias>
      </div>
      <div class="formacao-componente">
        <app-grupo-competencias
          [alturaDescricaoSection]="alturaDescricaoSection"
          [alturaGaleriaFotos]="alturaGaleriaFotos"
          [nomeGrupoCompetencia]="
            encontrarValorCompetenciaEmFuncaoDoIdioma(
              nomesGruposCompetencias[2],
              idioma | async,
              'nome',
              nomesGruposCompetencias[0].nome
            ) | uppercase
          "
          [listaCompetencias]="competenciasFormacao"
        ></app-grupo-competencias>
      </div>
    </div>
  </section>
  <section #scrollHorizontal class="pagina-em-branco"></section>
</div>
