.texto-descricao-about {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 35%;
  height: auto;
  display: inline-block;
  z-index: 2;

  & .introducao-about {
    color: black;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    font-size: clamp(0.6em, 0.6em + 2vw, 1.9em);
  }

  & .desenvolvimento-about {
    font-size: clamp(0.6em, 0.6em + 1.4vw, 1.35em);
    line-height: 22px;
    color: black;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
  }
}
