.texto-descricao-about {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 35%;
  height: auto;
  display: inline-block;
  z-index: 2;

  & .introducao-about {
    font-size: 30px;
    color: black;
  }

  & .desenvolvimento-about {
    font-size: 22px;
    line-height: 22px;
    color: black;
  }
}
