<div class="projects-modulo" fxLayout="row">
  <div class="titulo-contenedor" fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
    <div>
      <h2 class="titulo-projects"> PROJECTS</h2>
      <h2 class="titulo-web">WEB</h2>
    </div>
  </div>

  <div fxFlex="70" class="projetos-container" div fxLayout="row" fxLayoutAlign="space-between center">
    <div *ngFor="let projeto of projetos" class="projeto-card" [ngClass]="'projeto-card-' + projeto.classe" [ngStyle]="{backgroundImage: projeto.classe === 'em-breve' ?  'none' : 'url(' + projeto.background + ')'}">
      <h3 class="nome-projeto">{{ projeto.nome }}</h3>
      <div class="projeto-card-hover" *ngIf="mostrarHover">
        <h3 class="nome-projeto-hover">{{ projeto.nome }}</h3>
        <p class="ano-projeto">{{ projeto.ano }}</p>
        <div class="competencias" fxLayout="row" fxLayoutAlign="center center">
          <span *ngFor="let competencia of projeto.competencias">{{ competencia }}</span>
        </div>
        <button class="ver-mais-botao" (click)="verMais(projeto)">View more</button>
        <div class="botoes-visitar-codigo-container" fxLayout="row" fxLayoutAlign="space-evenly center" >
          <a>Visit</a>
          <a [href]="projeto.verCodigo" target="_blank" rel="noreferrer noopener" >View code</a>
        </div>
      </div>
    </div>
  </div>
</div>

