.projects-modulo {
  width: 100vw;
  height: 100vh;
  background-color: #FDF6F0;
  // overflow: hidden;
}

.titulo-contenedor {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 4vw;
  z-index: 1;
  transform: rotate(180deg);

  & .titulo-projects {
    margin: 0;
    padding: 0;

  }

  & .titulo-web {
    margin: 0;
    padding: 0;
    margin-block-start: -0.415em;
    color: rgba(0, 0, 0, 0.4);
  }
}

.projetos-container {
  margin-top: 15vh;
}

.projeto-card {
  position: relative;
  width: calc(49% / 2);
  height: 80%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  color: #FDF6F0;
  transform: translateY(-23.5vh);
  opacity: 0;
  transition: 1s ease-in-out;
  pointer-events: none;

  &-#{pokemon-game} {
    background-position: 60% center;
  }

  &-#{pokedex} {
    background-position: 60% center;
  }

  &-#{portfolio} {
    background-position: right center;
  }

  &-#{em-breve} {
    background-color: #F57B51;
    background-position: 60% center;

    & button, a {
      opacity: 0;
      pointer-events: none;
    }
  }

  & .nome-projeto, .nome-projeto-hover {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0;
  }

  & .nome-projeto {
    line-height: calc(75vh * 0.8);
    transition: 0.3s;
    z-index: 1;
  }

  & .projeto-card-hover {
    position: relative;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transform: translateY(100%);
    transition: 0.3s;
  }

  & .ano-projeto {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 11px;
  }

  & .competencias {
    margin: 5px 10px 0 10px;
    width: calc(100% - 20px);
    color: rgba(255, 255, 255, 0.6);
    flex-wrap: wrap;
    gap: 5px;
  }

  & .ver-mais-botao {
    width: 40%;
    height: 10%;
    border: 2px solid #F57B51;
    color: #F57B51;
    background: none;
    font-weight: bolder;
    position: absolute;
    top: 40%;
    left: 30%;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #F57B51;
      color: white;
      transform: scale(1.04);
    }
  }

  & .botoes-visitar-codigo-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;

    & a {
      border-bottom: 2px solid #F57B51;
      color: #FDF6F0;
      transition: 0.3s;
      cursor: pointer;
      text-decoration: none;

      &:hover {
      opacity: 0.5;
      }
    }

  }
}

.cards-visibles {
  transform: translateY(0vh);
  opacity: 1;
  pointer-events: all;
}

.projeto-card:hover .projeto-card-hover {
  transform: translateY(0%);
}

.projeto-card:hover .nome-projeto {
  opacity: 0;
}


