.navegacao-contenedor {
  width: 60vw;
  height: 15vh;
  display: flex;
  gap: 10%;
  margin-left: 7%;
  align-items: center;
}

a {
  height: 30px;
  text-align: center;
  cursor: pointer;
  color: rgb(60, 60, 60);
  line-height: 30px;
  font-weight: 500;
}

a:hover::before {
  content: '';
  height: 2px;
  background-color: #F57B51;
  display: block;
  margin: 0 auto;
}

a:hover {
  transform: scale(1.03);
  transition: 0.2s;
  color: black;
}
