.navegacao-contenedor {
  width: 60vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

a {
  width: 80px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: rgb(60, 60, 60);
}

a:hover::before {
  content: '';
  width: 75px;
  height: 2px;
  background-color: #F57B51;
  display: block;
  margin: 0 auto;
}

a:hover {
  transform: scale(1.03);
  transition: 0.2s;
  color: black;
}
