.select-idioma {
  height: 30px;
  width: 70px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

::ng-deep {
  .select-branco .mat-select-value-text {
    color: white;
  }
}

::ng-deep {
  .select-preto .mat-select-value-text {
    color: black;
  }
}
