.select-idioma {
  position: absolute;
  top: calc((100% - 30px) / 2);
  left: calc(100% - 90px);
  height: 30px;
  width: 70px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
}

