<div class="lista-competencias">
  <div *ngFor="let competencia of competencias" class="barra" [ngClass]="competencia.nivel">
    <div *ngFor="let nivel of niveis" class="nivelProgresso">
      <span>{{nivel}}</span>
    </div>
    <img class="imagemCompetencia" [src]="'../../../assets/Icones/' + competencia.nome + '.svg' ">
  </div>
</div>
<p *ngIf="idioma === 'ingles'" class="mensagem">What I know</p>
<p *ngIf="idioma === 'portugues'" class="mensagem">O que eu sei</p>
<p *ngIf="idioma === 'espanhol'" class="mensagem">Lo que sé</p>
