<div class="lista-competencias">
  <div
    *ngFor="let grupoCompetencia of competenciasWrapper | transformArray : 3"
    [ngClass]="grupoCompetencia.classeCss"
  >
    <div class="nome-grupo-competencias-contenedor">
      <span class="nome-grupo-competencias">{{
        encontrarValorEmFuncaoDoIdioma(
          grupoCompetencia,
          idioma | async,
          "nome",
          grupoCompetencia.nome
        )
      }}</span>
    </div>
    <div
      class="competencias-contenedor"
      fxLayout="column"
      fxLayoutAlign="space-evenly center"
    >
      <div
        *ngFor="let competencia of grupoCompetencia.competencias"
        class="barra-competencia-contenedor"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div
          class="barra-progresso-contenedor"
          fxLayout="column"
          fxLayoutAlign="space-around end"
        >
          <span class="porcentagem-progresso">{{ competencia.nivel }}</span>
          <div
            class="barra-progresso"
            [ngStyle]="{ width: competencia.nivel }"
          ></div>
        </div>
        <img
          [matTooltip]="
            encontrarValorEmFuncaoDoIdioma(
              competencia,
              idioma | async,
              'hover',
              competencia.nome
            )
          "
          matTooltipPosition="before"
          class="imagem-competencia"
          [src]="
            '../../../assets/Icones/' + competencia.nome.toLowerCase() + '.svg'
          "
        />
      </div>
    </div>
  </div>

  <div class="idiomas-competencia">
    <div class="nome-grupo-competencias-contenedor">
      <span class="nome-grupo-competencias">{{
        encontrarValorEmFuncaoDoIdioma(idiomas[0], idioma | async, "nome")
      }}</span>
    </div>
    <div
      class="competencias-contenedor"
      fxLayout="row"
      fxLayoutAlign="space-around center"
    >
      <div
        *ngFor="let competencia of idiomas[1].competencias"
        class="barra-circular-competencia-contenedor"
        fxLayout="column"
        fxLayoutAlign="space-around center"
      >
        <div
          class="barra-progresso-circular"
          [ngClass]="
            'barra-progresso-circular-' + competencia.nivel | semPorcentagem
          "
          fxLayout="row"
          fxLayoutAlign="space-evenly center"
        >
          <span class="porcentagem-barra-circular">{{
            competencia.nivel
          }}</span>
        </div>
        <span class="competencia-circular-nome">{{
          encontrarValorEmFuncaoDoIdioma(competencia, idioma | async, "nome")
        }}</span>
      </div>
    </div>
  </div>
</div>

<p *ngIf="(idioma | async) === 'ingles'" class="mensagem">What I know</p>
<p *ngIf="(idioma | async) === 'portugues'" class="mensagem">O que eu sei</p>
<p *ngIf="(idioma | async) === 'espanhol'" class="mensagem">Lo que sé</p>
