$larguraComponenteCompetencias: 40vw;

$alturaComponenteCompetencias: 100vh;

$alturaCompetenciasContenedor: calc($alturaComponenteCompetencias * 0.85);

$alturaBarra: calc($alturaComponenteCompetencias * 0.04);

$largura-lista-competencias: $larguraComponenteCompetencias * 0.875;

$margin-top-barras: 3%;

$padding-top-area-competencia: 3%;

@mixin bloco-de-competencias ($porcentagem-de-largura, $numero-de-competencias) {
  background-color: #12192c;
  border-radius: 10px;
  width: $largura-lista-competencias * $porcentagem-de-largura;
  @if ($numero-de-competencias % 2 == 0) {
    height: calc($alturaBarra * (($numero-de-competencias * 3 - 1) / 2 + 1));
  } @else {
    height: calc($alturaBarra * ($numero-de-competencias + 2));
  }
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.lista-competencias {
  width: $largura-lista-competencias;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vh;
  float: right;
  margin-right: 2vw;
  height: $alturaCompetenciasContenedor;
  justify-content: center;
  gap: 8%;
}

.front-end-competencia {
  @include bloco-de-competencias(1, 6);
}

.programacao-competencia {
  @include bloco-de-competencias(0.45, 1);
}

.banco-de-dados-competencia {
  @include bloco-de-competencias(0.45, 1);
}

.nome-grupo-competencias-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $alturaBarra * 1.5;
  // background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px 10px 0 0;
}

.nome-grupo-competencias {
  color: #F37335;
  font-size: 14px;
}

.competencias-contenedor {
  width: 100%;
  height: calc(100% - $alturaBarra * 1.5);
}

.barra-competencia-contenedor {
  display: flex;
  width: 80%;
  height: $alturaBarra;
  gap: 2%;
}

.barra-progresso-contenedor {
  position: relative;
  width: calc(98% - $alturaBarra);
  height: $alturaBarra * 0.25;
  // background-color: rgba(73, 73, 73, 0.4);
  border: 1px solid rgba(73, 73, 73, 0.6);
  border-radius: 5px;
}

.porcentagem-progresso {
  position: absolute;
  font-size: 11px;
  margin: 0;
  left: 0;
  top: -13px;
  color: #F37335;
}

.barra-progresso {
  height: 100%;
  // background-color: #FDF6F0;
  // background-color: #095D6A;
  // background-color: rgba(255, 255, 255, 0.4);
  // background-color: #FDF6F0;
  background-color: #FDF6F0;
  float: right;
  border-radius: 5px;
}

.imagem-competencia {
  height: $alturaBarra;
}

.mensagem {
  color: #FDF6F0;
  font-size: 45px;
  font-weight: bolder;
  position: absolute;
  bottom: 4vh;
  left: 5vw;
  margin: 0;
}
