@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

$tamanho-fonte-do-titulo: 3.5vw;
$tamanho-fonte-do-titulo-mobile: 18px;

@mixin botao-no-componente-home($background-color) {
  background-color: $background-color;
  height: 100%;
  align-items: center;
  appearance: none;
  border-width: 0;
  box-shadow: rgba(22, 17, 32, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px;
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
  will-change: box-shadow, transform;

  &:focus {
    box-shadow: $background-color 0 0 0 1.5px inset,
      rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      $background-color 0 -3px 0 inset;
  }

  &:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
      rgba(45, 35, 66, 0.2) 0 7px 13px -3px, $background-color 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: $background-color 0 3px 7px inset;
    transform: translateY(2px);
  }
}

.foto-danilo {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: -25%;
  filter: grayscale(1);
  z-index: 1;
}

.apresentacao {
  position: absolute;
  top: 25%;
  left: 7%;
}

.hi {
  font-size: 1.9vw;
  margin-bottom: 0;
}

.nome {
  font-size: $tamanho-fonte-do-titulo;
  margin-top: 0;
  margin-bottom: 0;
  gap: 10px;
}

.word-slider {
  position: relative;
  overflow: hidden;
  width: 60vw;
  height: $tamanho-fonte-do-titulo;
  padding: 0;
  margin: 0;
}

.word {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s ease-in-out;
  background-color: #fdf6f0;
  padding: 0;
  margin: 0;
}

.slide-up {
  transform: translateY(-100%);
}

.slide-down {
  transform: translateY(100%);
}

.developer {
  margin: 0;
  padding: 0;
}

.nacionalidade {
  margin-top: 5px;
}

.botao-meus-projetos {
  width: 100vw;
  height: 35px;
  gap: 10px;
}

.myProjects {
  @include botao-no-componente-home(#f57b51);
}

.botao-cv {
  @include botao-no-componente-home(#fdf6f0);
}

.icone-baixar {
  height: 12px;
  vertical-align: -2px;
}

.redes-sociais-contenedor {
  position: absolute;
  top: 87%;
  left: 7%;
}

.text-redes-sociais {
  margin: 0;
}

.links-redes-sociais {
  display: flex;
  align-items: center;
  height: 35px;
  gap: 5px;
}

.links-redes-sociais img {
  width: 20px;
}

@media screen and (max-width: 1050px) {
  .word-slider {
    max-height: 5em;
    height: calc(0.9em + 1.3vw);
    min-height: 0.9em;
    width: 100vw;
  }

  .nome {
    font-size: clamp(0.9em, 1.6em + 1.5vw, 5em);
    gap: 8px;
  }

  .hi,
  .nacionalidade {
    font-size: clamp(0.5em, 0.5em + 1.5vw, 1.1em);
  }

  .text-redes-sociais {
    font-size: clamp(0.4em, 0.4em + 1vw, 0.8em);
  }

  .myProjects,
  .botao-cv,
  .botao-meus-projetos {
    max-height: 35px;
    height: calc(1.8em + 1vw);
    min-height: 1.8em;
    font-size: clamp(0.6em, 0.6em + 0.9vw, 0.9em);
  }

  .botao-cv:hover {
    @include botao-no-componente-home(#fdf6f0);
  }

  .myProjects:hover {
    @include botao-no-componente-home(#f57b51);
  }

  .icone-baixar {
    max-height: 12px;
    height: calc(0.6em + 1vw);
    min-height: 0.6em;
  }
}

@media screen and (max-width: 490px) {
  .nome {
    font-size: clamp(0.9em, 0.9em + 1.5vw, 5em);
    gap: 8px;
  }
}
