@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.foto-danilo {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: -25%;
  filter: grayscale(1);
  z-index: 1;
}

.apresentacao {
  position: absolute;
  top: 25%;
  left: 7%;
}

.hi {
  font-size: 25px;
  margin-bottom: 0;
  // color: #095D6A;

}

.word-slider {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 61px;
}

.word {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s ease-in-out;
  background-color: #FDF6F0;
}

.slide-up {
  transform: translateY(-100%);
}

.slide-down {
  transform: translateY(100%);
}

.developer {
  font-family: 'PT Sans Narrow', sans-serif !important;
}

.nome {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  // color: #095D6A;
  // font-weight: bolder;

}

.desenvolvedor {
  // color: #095D6A;
  // font-weight: bold;
  margin: 0;
  font-size: 25px;
}

.nacionalidade {
  // color: #095D6A;
  margin-top: 5px;
}

.myProjects {
  background-color: #F57B51;
  width: 110px;
  height: 35px;
  border-radius: calc(35px / 2);
  border: none;
  color: #FDF6F0;
  cursor: pointer;
  font-weight: bold;
}

.botao-meus-projetos {
  height: 35px;
}

.redes-sociais-contenedor {
  position: absolute;
  top: 85%;
  left: 7%;
}

.text-redes-sociais {
  margin: 0;
}

.links-redes-sociais {
  display: flex;
  align-items: center;
  height: 35px;
  gap: 5px;
}

.links-redes-sociais img {
  width: 25px;
  height: 25px;
}
