<app-navegacao></app-navegacao>

<div class="apresentacao">
  <p class="hi">Hi,</p>
  <p class="nome">I'm DANILO PEZO</p>
  <p class="desenvolvedor">Front-End developer</p>
  <p class="nacionalidade">From Peru living in Brazil</p>
  <div class="links">
    <button class="myProjects">My projects</button>
    <img src="../../../assets/Icones/github.svg">
    <img src="../../../assets/Icones/linkedin.svg">
  </div>
</div>

<img class="foto-danilo" src="../../../assets/Fotos/foto-danilo.png" alt="Foto-DaniloPezo">


