<div class="apresentacao">
  <div *ngIf="(idioma | async) === 'ingles'">
    <p class="hi">Hi,</p>
    <span
      class="nome"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <span>I'm</span>
      <span class="word-slider">
        <span class="word" [class.slide-up]="showDanilo">Danilo Pezo</span>
        <span class="word" [class.slide-down]="!showDanilo"
          >Front-End developer</span
        >
      </span>
    </span>
    <p class="nacionalidade">From Peru, living in Brazil</p>
  </div>

  <div *ngIf="(idioma | async) === 'portugues'">
    <p class="hi">Oi,</p>
    <span
      class="nome"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <span>Sou</span>
      <span class="word-slider">
        <span class="word" [class.slide-up]="showDanilo">Danilo Pezo</span>
        <span class="word developer" [class.slide-down]="!showDanilo"
          >desenvolvedor Front-End</span
        >
      </span>
    </span>
    <p class="nacionalidade">Do Peru, morando no Brasil</p>
  </div>

  <div *ngIf="(idioma | async) === 'espanhol'">
    <p class="hi">Hola,</p>
    <span
      class="nome"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <span>Soy</span>
      <span class="word-slider">
        <span class="word" [class.slide-up]="showDanilo">Danilo Pezo</span>
        <span class="word developer" [class.slide-down]="!showDanilo"
          >desarrollador Front-End</span
        >
      </span>
    </span>
    <p class="nacionalidade">De Perú, viviendo en Brasil</p>
  </div>

  <div class="botao-meus-projetos" [ngSwitch]="idioma | async">
    <button
      *ngSwitchCase="'ingles'"
      class="myProjects"
      (click)="irParaProjects()"
    >
      My projects
    </button>
    <button
      *ngSwitchCase="'portugues'"
      class="myProjects"
      (click)="irParaProjects()"
    >
      Meus projetos
    </button>
    <button
      *ngSwitchCase="'espanhol'"
      class="myProjects"
      (click)="irParaProjects()"
    >
      Mis proyectos
    </button>
  </div>
</div>

<div class="redes-sociais-contenedor">
  <h5 *ngIf="(idioma | async) === 'ingles'" class="text-redes-sociais">
    Find me on:
  </h5>

  <h5 *ngIf="(idioma | async) === 'portugues'" class="text-redes-sociais">
    Encontre-me em:
  </h5>

  <h5 *ngIf="(idioma | async) === 'espanhol'" class="text-redes-sociais">
    Encuéntrame en:
  </h5>

  <div class="links-redes-sociais">
    <a
      href="https://github.com/DaniloPem"
      target="_blank"
      rel="noreferrer noopener"
      ><img src="../../../assets/Icones/github.svg"
    /></a>
    <a
      href="https://www.linkedin.com/in/danilo-pezo-mendoza/"
      target="_blank"
      rel="noreferrer noopener"
      ><img src="../../../assets/Icones/linkedin.svg"
    /></a>
  </div>
</div>

<!-- <img class="foto-danilo" src="../../../assets/Fotos/foto-danilo.png" alt="Foto-DaniloPezo"> -->
