<nav
  class="navegacao-componente"
  [ngClass]="
    (estiloNavegacao | async) === false
      ? classeNavegacaoComponente
      : 'navegacao-na-tela-matdialog'
  "
>
  <div class="code-by" fxLayout="row" fxLayoutAlign="center center">
    <p>&#169; Created by Danilo</p>
  </div>
  <div
    *ngIf="(idioma | async) === 'ingles'"
    class="links-navegacao-container"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="20px"
  >
    <a #home (click)="irParaHome()">Home</a>
    <a #about (click)="irParaAbout()">About</a>
    <a #projects (click)="irParaProjects()">Projects</a>
    <a #contact>Contact</a>
  </div>

  <div
    *ngIf="(idioma | async) === 'portugues'"
    class="links-navegacao-container"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="20px"
  >
    <a (click)="irParaHome()">Início</a>
    <a (click)="irParaAbout()">Sobre</a>
    <a (click)="irParaProjects()">Projetos</a>
    <a>Contato</a>
  </div>

  <div
    *ngIf="(idioma | async) === 'espanhol'"
    class="links-navegacao-container"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="20px"
  >
    <a (click)="irParaHome()">Inicio</a>
    <a (click)="irParaAbout()">Sobre</a>
    <a (click)="irParaProjects()">Proyectos</a>
    <a>Contacto</a>
  </div>
  <app-idiomas class="idiomas"></app-idiomas>
</nav>
