<nav *ngIf="(idioma | async) === 'ingles'" class="navegacao-componente" [ngClass]="classeNavegacaoComponente">
  <div class="links-navegacao-container" fxLayout="row" fxLayoutAlign="space-between center" >
    <a>Home</a>
    <a>About</a>
    <a>Projects</a>
    <a>Contact</a>
  </div>
  <app-idiomas class="idiomas"></app-idiomas>
</nav>

<nav *ngIf="(idioma | async) === 'portugues'" class="navegacao-componente" [ngClass]="classeNavegacaoComponente">
  <div class="links-navegacao-container" fxLayout="row" fxLayoutAlign="space-between center" >
    <a>INÍCIO</a>
    <a>SOBRE</a>
    <a>PROJETOS</a>
    <a>CONTATO</a>
  </div>
  <app-idiomas class="idiomas"></app-idiomas>
</nav>

<nav *ngIf="(idioma | async) === 'espanhol'" class="navegacao-componente" [ngClass]="classeNavegacaoComponente">
  <div class="links-navegacao-container" fxLayout="row" fxLayoutAlign="space-between center" >
    <a>INICIO</a>
    <a>SOBRE</a>
    <a>PROYECTOS</a>
    <a>CONTACTO</a>
  </div>
  <app-idiomas class="idiomas"></app-idiomas>
</nav>
