.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.apresentacao {
  width: 60vw;
  height: 100vh;
  background-color: #fdf6f0;
  position: relative;
}

.competencias {
  width: 40vw;
  height: 100vh;
  background-color: #fbbc58;
  position: relative;
}

@media screen and (max-width: 1050px) {
  .home {
    height: 100vh;
  }

  .apresentacao {
    width: 100vw;
    height: 100vh;
  }

  .competencias {
    display: none;
  }
}
