<div class="home">
  <app-apresentacao
    (irParaProjectsEvent)="handleIrParaProjects()"
    class="apresentacao"
  ></app-apresentacao>
  <app-competencias class="competencias"></app-competencias>
  <div *ngIf="avisoAberto === true" class="aviso-responsividade">
    <button (click)="fecharAviso()" class="botao-fechar-asviso">X</button>
    <span
      >Estou trabalhando na responsividade. Para uma melhor experiência, entrar
      no site pelo seu computador. Obrigado pela atenção.</span
    >
  </div>
</div>
